@import url('basics.scss');
@import url('layout.scss');

// Définition des varaibles globales

// Définition d'un fichier pour le layout


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}